<main class="page">
    <link rel="stylesheet" th:href="@{/css/verify-phone.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">

    <input type="hidden" id="csrfHeader" th:value="${_csrf.headerName}" />
    <input type="hidden" id="csrfToken" th:value="${_csrf.token}" />

    <section class="setup-container">
        <p class="verify-msg">
            <span id="displayPhone" style="font-weight: bold; color: #002c5f;"></span>로 전송된<br>
            6자리 숫자를 입력해주세요.
        </p>
        
        <input type="text" id="smsCode" class="code-field" maxlength="4" placeholder="••••" inputmode="numeric">
        
        <div class="action-row">
            <button type="button" class="resend-link" id="btnResendSms">재전송 받기</button>
        </div>

     

        <button type="button" id="btnVerifySms" class="btn-next">완료</button>
    </section>

    <script th:src="@{/js/verify-phone.js}"></script>
</main>